<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>details</title>
  </head>
  <body>



    <div>


    <h2>Welcome {{ form.student_name }}</h2>
    <p>Student Name: {{form.student_name}}</p>
      <p>Father's Name: <b>{{ form.fathers_name}}</b></p>
      <p>Date of Birth: <b>{{form.dob }}</b></p>
      <p>Address: <b>{{ form.Address}}</b></p>
      <p>City: <b>{{ form.city }}</b></p>
      <p>State: <b>{{ form.state }}</b></p>
      <p>Pin: <b>{{ form.pin }}</b></p>
      <p>Phone: <b>{{ form.phone }}</b></p>
     <p>Email: <b>{{ form.email }}</b></p>
     <p>Class: <b>{{ form.class_opted }}</b></p>
     <p>Marks: <b>{{ form.marks }}</b></p>
     <p>Date of Enrollment: <b>{{ form.date_enrolled }}</b></p>


     <a href="http://127.0.0.1:8000/">Back</a>
     </div>
  </body>
</html>
